<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historique des rendez-vous</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let rdv of historiqueRendezVous" [color]="getColor(rdv.statut)">
          <ion-label>
            <h3>{{ rdv.date }} à {{ rdv.heure }} - {{ rdv.motif }}</h3>
            <p>Médecin: {{ getMedecinName(rdv.medecinId) }}</p>
            <p>Statut: {{ rdv.statut }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="historiqueRendezVous.length === 0">
          <ion-label>Aucun rendez-vous dans l'historique</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>