ion-searchbar {
  --background: #fff;
  --color: #000;
  margin-bottom: 20px;
}

ion-item {
  --cursor: pointer;

  &:hover {
    --background: #f0f0f0;
  }

  &.unread {
    background-color: #f0f8ff;
    font-weight: bold;
  }

  .date {
    font-size: 12px;
    color: #888;
  }
}

ion-list {
  padding: 10px;
}