<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue, {{ user.firstName }} {{ user.lastName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Recherche de médecins -->
      <ion-item>
        <ion-label position="floating">Rechercher un médecin</ion-label>
        <ion-input [(ngModel)]="searchQuery" (ionChange)="searchMedecins()"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let medecin of filteredMedecins" (click)="bookRendezVous(medecin.email)">
          <ion-avatar slot="start">
            <img [src]="medecin.photoProfil" alt="Photo de profil">
          </ion-avatar>
          <ion-label>
            <h2>{{ medecin.prenom }} {{ medecin.nom }}</h2>
            <p>{{ medecin.specialite }} - {{ medecin.adresse }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Navigation -->
      <ion-button expand="block" (click)="goToDocuments()">Mes documents</ion-button>
      <ion-button expand="block" (click)="goToHistorique()">Mon historique médical</ion-button>
      <ion-button expand="block" (click)="goToProfile()">Mon profil</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- Plus de <app-tabs> ici, car il est géré par TabsComponent -->