// Style par défaut
ion-content {
  --background: #fff;
  --color: #000;
}

// Style pour le dark mode
body.dark {
  ion-content {
    --background: #1a1a1a;
    --color: #fff;
  }

  ion-item {
    --background: #2a2a2a;
    --color: #fff;
  }

  ion-label {
    color: #fff;
  }
}