<app-header></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="isLoggedIn">
      <ion-label>Mode sombre</ion-label>
      <ion-toggle 
        [checked]="darkMode" 
        (ionChange)="toggleDarkMode()">
      </ion-toggle>
    </ion-item>

    <ion-item *ngIf="isLoggedIn">
      <ion-label>Langue</ion-label>
      <ion-select 
        [(ngModel)]="language" 
        (ionChange)="changeLanguage($event)" 
        interface="popover">
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!isLoggedIn">
      <ion-label>Veuillez vous connecter pour modifier les paramètres</ion-label>
    </ion-item>
  </ion-list>
</ion-content>