<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button (click)="goToAccueilMedecin()" [class.active-tab]="isActive('accueil-medecin')">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Tableau de bord</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToDisponibilites()" [class.active-tab]="isActive('disponibilites-medecin')">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Disponibilités</ion-label>
    </ion-tab-button>
    
    <ion-tab-button (click)="goToMessages()" [class.active-tab]="isActive('messages-list')">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-badge *ngIf="unreadMessageCount > 0">{{ unreadMessageCount }}</ion-badge>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToProfile()" [class.active-tab]="isActive('profil-medecin')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToStats()" [class.active-tab]="isActive('stats-medecin')">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToParametres()" [class.active-tab]="isActive('parametres')">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>