<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="isLoggedIn && role === 'medecin'">
    <ion-card-header>
      <ion-card-title>Consultation pour {{ userEmail }} - {{ date }} {{ heure }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>Diagnostics</ion-list-header>
        <ion-item *ngFor="let diag of diagnostics">
          <ion-label>{{ diag }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nouveau diagnostic</ion-label>
          <ion-input [(ngModel)]="newDiagnostic"></ion-input>
          <ion-button slot="end" (click)="addDiagnostic()">Ajouter</ion-button>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>Prescriptions</ion-list-header>
        <ion-item *ngFor="let presc of prescriptions">
          <ion-label>{{ presc }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nouvelle prescription</ion-label>
          <ion-input [(ngModel)]="newPrescription"></ion-input>
          <ion-button slot="end" (click)="addPrescription()">Ajouter</ion-button>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="saveConsultation()">Enregistrer</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isLoggedIn || role !== 'medecin'">
    <ion-card-header>
      <ion-card-title>Accès refusé</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cette page est réservée aux médecins.</p>
      <ion-button expand="block" (click)="goToLogin()">Se connecter</ion-button>
    </ion-card-content>
  </ion-card>

  <app-tabs></app-tabs>
</ion-content>