<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" (click)="goBackToAccueil()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-avatar *ngIf="user.profilePicture" (click)="updateProfilePicture()">
        <img [src]="user.profilePicture" alt="Photo de profil">
      </ion-avatar>
      <ion-avatar *ngIf="!user.profilePicture" (click)="updateProfilePicture()">
        <img src="https://via.placeholder.com/40" alt="Photo par défaut">
      </ion-avatar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenue dans votre espace personnel !</h1>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vos informations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="!isEditing">
          <ion-label>Prénom: {{ user.firstName }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input [(ngModel)]="user.firstName" name="firstName" placeholder="Entrez votre prénom" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Nom: {{ user.lastName }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Nom</ion-label>
          <ion-input [(ngModel)]="user.lastName" name="lastName" placeholder="Entrez votre nom" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Téléphone: {{ user.phoneNumber }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Entrez votre numéro" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Email: {{ user.email }}</ion-label>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Date de naissance: {{ user.birthDate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Date de naissance</ion-label>
          <ion-input type="date" [(ngModel)]="user.birthDate" name="birthDate" placeholder="Entrez votre date de naissance" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Adresse: {{ user.address }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Adresse</ion-label>
          <ion-input [(ngModel)]="user.address" name="address" placeholder="Entrez votre adresse" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!isEditing">
          <ion-label>Sexe: {{ user.gender }}</ion-label>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label position="floating">Sexe</ion-label>
          <ion-select [(ngModel)]="user.gender" name="gender" placeholder="Sélectionnez votre sexe" required>
            <ion-select-option value="Homme">Homme</ion-select-option>
            <ion-select-option value="Femme">Femme</ion-select-option>
            <ion-select-option value="Autre">Autre</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Option pour changer le mot de passe -->
        <ion-item *ngIf="isEditing">
          <ion-label>Changer le mot de passe</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="changePassword" (ionChange)="togglePasswordFields()"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="isEditing && changePassword">
          <ion-label position="floating">Ancien mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Entrez l’ancien mot de passe"></ion-input>
        </ion-item>
        <ion-item *ngIf="isEditing && changePassword">
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Entrez le nouveau mot de passe"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button *ngIf="!isEditing" expand="block" (click)="toggleEdit()">Modifier</ion-button>
      <ion-button *ngIf="isEditing" expand="block" color="success" (click)="saveChanges()">Enregistrer</ion-button>
      <ion-button *ngIf="isEditing" expand="block" color="light" (click)="toggleEdit()">Annuler</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteAccount()">Supprimer le compte</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Historique des rendez-vous</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let rdv of user.historiqueRendezVous">
          <ion-label>
            {{ rdv.date }} à {{ rdv.heure }} avec {{ rdv.medecin }} - {{ rdv.motif }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="!user.historiqueRendezVous || user.historiqueRendezVous.length === 0">
          <ion-label>Aucun rendez-vous passé</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>