<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="isLoggedIn && role === 'patient'">
    <ion-card-header>
      <ion-card-title>Mon Profil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="!isEditing">
        <ion-avatar slot="start">
          <img [src]="user.photoProfil || user.profilePicture || 'assets/default-avatar.png'" alt="Photo de profil">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.firstName }} {{ user.lastName }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
        <ion-button slot="end" (click)="toggleEdit()">Modifier</ion-button>
      </ion-item>

      <form *ngIf="isEditing" (ngSubmit)="saveProfile()">
        <ion-item>
          <ion-label position="floating">Prénom</ion-label>
          <ion-input [(ngModel)]="user.firstName" name="firstName" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input [(ngModel)]="user.lastName" name="lastName" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Numéro de téléphone</ion-label>
          <ion-input [(ngModel)]="user.phoneNumber" name="phoneNumber" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email" type="email" required disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date de naissance</ion-label>
          <ion-input [(ngModel)]="user.birthDate" name="birthDate" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Adresse</ion-label>
          <ion-input [(ngModel)]="user.address" name="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Genre</ion-label>
          <ion-select [(ngModel)]="user.gender" name="gender">
            <ion-select-option value="Homme">Homme</ion-select-option>
            <ion-select-option value="Femme">Femme</ion-select-option>
            <ion-select-option value="Autre">Autre</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Photo de profil</ion-label>
          <input type="file" (change)="onFileChange($event)" accept="image/*">
          <img [src]="photoPreview || user.photoProfil || user.profilePicture || 'assets/default-avatar.png'" alt="Aperçu" style="max-width: 100px;">
        </ion-item>
        <ion-button type="submit" expand="block">Enregistrer</ion-button>
        <ion-button color="light" expand="block" (click)="toggleEdit()">Annuler</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isLoggedIn">
    <ion-card-header>
      <ion-card-title>Non connecté</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Veuillez vous connecter pour voir votre profil.</p>
      <ion-button expand="block" (click)="goToLogin()">Se connecter</ion-button>
    </ion-card-content>
  </ion-card>

  <app-tabs></app-tabs>
</ion-content>