<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="isLoggedIn">
    <ion-card-header>
      <ion-card-title>Profil {{ role === 'medecin' ? 'Médecin' : 'Patient' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="user.profilePicture || 'assets/default-profile.png'" alt="Photo de profil">
          </ion-avatar>
          <ion-label>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Téléphone</ion-label>
          <ion-input [(ngModel)]="user.phoneNumber" [disabled]="!isEditing"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Adresse</ion-label>
          <ion-input [(ngModel)]="user.address" [disabled]="!isEditing"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Date de naissance</ion-label>
          <ion-input [(ngModel)]="user.birthDate" [disabled]="!isEditing"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Genre</ion-label>
          <ion-input [(ngModel)]="user.gender" [disabled]="!isEditing"></ion-input>
        </ion-item>
        <ion-item *ngIf="role === 'medecin'">
          <ion-label>Spécialité</ion-label>
          <ion-input [(ngModel)]="user.specialite" [disabled]="!isEditing"></ion-input>
        </ion-item>
        <ion-item *ngIf="isEditing">
          <ion-label>Changer le mot de passe</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="changePassword" (ionChange)="togglePasswordFields()"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="isEditing && changePassword">
          <ion-label position="floating">Ancien mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Entrez l’ancien mot de passe"></ion-input>
        </ion-item>
        <ion-item *ngIf="isEditing && changePassword">
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Entrez le nouveau mot de passe"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="toggleEdit()" *ngIf="!isEditing">Modifier</ion-button>
      <ion-button expand="block" (click)="saveChanges()" *ngIf="isEditing">Sauvegarder</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteAccount()">Supprimer le compte</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isLoggedIn">
    <ion-card-header>
      <ion-card-title>Non connecté</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Veuillez vous connecter pour voir votre profil.</p>
      <ion-button expand="block" routerLink="/login">Se connecter</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>