<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button (click)="goToAccueil()" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToMedecins()" class="tab-button">
      <ion-icon name="medical"></ion-icon>
      <ion-label>Médecins</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToProfile()" class="tab-button">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToParametres()" class="tab-button">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>