<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil Médecin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-header></app-header>
  <ion-card *ngIf="isLoggedIn">
    <ion-card-header>
      <ion-card-title>Bienvenue, Dr. {{ medecin.prenom }} {{ medecin.nom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>Rendez-vous demandés</ion-list-header>
        <ion-item *ngFor="let rdv of rendezVousDemandes" [color]="rdv.statut === 'en attente' ? 'warning' : 'danger'">
          <ion-label>
            <h3>{{ rdv.date }} à {{ rdv.heure }} - {{ rdv.motif }}</h3>
            <p>Patient: {{ rdv.userEmail }}</p>
            <p>Statut: {{ rdv.statut }}</p>
          </ion-label>
          <ion-button slot="end" (click)="viewDocuments(rdv.userEmail)">Docs</ion-button>
          <ion-button slot="end" (click)="manageRendezVous(rdv, 'accept')">Accepter</ion-button>
          <ion-button slot="end" (click)="manageRendezVous(rdv, 'reject')">Refuser</ion-button>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>Rendez-vous confirmés</ion-list-header>
        <ion-item *ngFor="let rdv of rendezVousConfirmes" color="success">
          <ion-label>
            <h3>{{ rdv.date }} à {{ rdv.heure }} - {{ rdv.motif }}</h3>
            <p>Patient: {{ rdv.userEmail }}</p>
          </ion-label>
          <ion-button slot="end" (click)="viewDocuments(rdv.userEmail)">Docs</ion-button>
          <ion-button slot="end" (click)="cancelRendezVous(rdv)">Annuler</ion-button>
          <ion-button slot="end" (click)="addConsultation(rdv)">Consultation</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="!isLoggedIn" expand="block" (click)="goToLogin()">Se connecter</ion-button>
</ion-content>